table {
    width: 100%;
    border-collapse: collapse;
}
form {
    border: solid thick black;
    border-top: none;
    width: 95%; 
    margin-left: -2.5px; 
    padding: 1%;
}
th.headers {
    font-size: xx-large;
    border: solid thick black;
    vertical-align: middle;
}
th.sub-headers {
    border: solid thick black;
    font-size: x-large;
    vertical-align: middle;
}
.fulfillment {
    width: 65%;
    vertical-align: top;
}
.placement {
    width: 15%;
    vertical-align: top;
}
th.placement {
    padding: 1%;
}
td.placement {
    padding: 0;
}
.grey {
    border: solid thick black;
    background-color: lightgray;
}
.completed {
    width: 20%;
    vertical-align: top;
}
.green {
    border: solid thick black;
    background-color: greenyellow;
    width: 33.3%;
}
.yellow {
    border: solid thick black;
    background-color: yellow;
    width: 33.3%;
}

.red {
    border: solid thick black;
    background-color: red;
    color: white;
    width: 33.3%;
}
.cards {
    margin-top: 1%;
    border: solid  black;
    padding: 1%;
}

#new, #waiting, #hurry {
    vertical-align: top;
}
