table {
    width: 100%;
}
form {
    border: solid thick black;
    width: 95%; 
    padding: 1%;
    background-color: blanchedalmond;
}
th.headers {
    font-size: xx-large;
    border: solid thick black;
    vertical-align: middle;
    background-color: orange;
}
th.sub-headers {
    border: solid thick black;
    font-size: x-large;
    vertical-align: middle;
}
.fulfillment {
    width: 50%;
    vertical-align: top;
}
.placement {
    width: 30%;
    vertical-align: top;
}
th.placement {
    padding: 1%;
    background-color: orange;
}
td.placement {
    padding: 0;
}
th.completed {
    background-color: orange;
}
.completed {
    width: 20%;
    vertical-align: top;
}
.green {
    border: solid thick black;
    background-color: greenyellow;
    width: 33.3%;
}
.yellow {
    border: solid thick black;
    background-color: yellow;
    width: 33.3%;
}

.red {
    border: solid thick black;
    background-color: red;
    color: white;
    width: 33.3%;
}
.cards {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: solid  black;
    padding: 1%;
    background-color: white;
    color: black;
}

#new, #waiting, #hurry {
    vertical-align: top;
}

.completedCard {
    margin-top: 1%;
    border: solid black;
    padding: 1%;
    background-color: lightgray;
}

body {
    background-color: rgb(255, 218, 169);
    margin: 1%;
    padding: 1%;
}

h3 {
    font-size: large;
    margin-top: 1%;
    margin-bottom: 1%;
}

label {
    font-size: medium;
}

input {
    margin-right: 1%;
}

button {
    font-size: medium;
    background-color: lightgray;
    border: solid black;
    padding: 1%;
    margin-top: 1%;
}

strong {
    font-size: medium;
}

.form-col {
    vertical-align: top;
    width: 50%;
}
